---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

<div class="taxonomies-wrapper">
  <ul class="taxonomies">
    {% for year_group in posts_by_year %}
      <li>
        <a class="taxonomy" href="#{{ year_group.name }}">
          <span>{{ year_group.name }}</span>
          <span class="taxonomy-count">{{ year_group.size }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

{% comment %} Show posts by year and month {% endcomment %}
{% for year_group in posts_by_year %}
  <h2 id="{{ year_group.name }}">{{ year_group.name }}</h2>

  {% assign posts_by_month = year_group.items | group_by_exp: "post", "post.date | date: '%m'" | reverse %}

  {% for month_group in posts_by_month %}
    {% assign first_post = month_group.items | first %}
    {% assign month_name = first_post.date | date: "%B" %}

    <h3 id="{{ year_group.name }}-{{ month_group.name }}" class="archive-month-heading">
      {{ month_name }}
    </h3>

    <ul class="post-list-by-taxonomy">
      {% for post in month_group.items %}
        <li>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo; <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <a href="#" onclick="backToTop()" class="back-to-top">Top &#8648;</a>
{% endfor %}

<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    if (main) {
      main.scrollTop = 0;
    } else {
      window.scrollTo(0, 0);
    }
  }
</script>
